<dl>
<% @messages.each do |message| %>
<dt><%==message['snippet']%></dt>
<dd>
  <p><b><%=message['id']%></b></p>
  <p><%=simple_format parse_email_body base64_decode message['payload']['parts'][0]['body']['data']%></p>
</dd>
<% end %>
</dl>