History for <%=@name%> (<%= link_to "Slack Home", slack_home_path(@token.id) %>)

<ul>
<% @history.each do |message| %>
<li><span class="user"><%= message['user'] %></span>: <%= message['text'] %></li>
<% end %>
